.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env
env*
dist
build
*.egg[s]
*.egg-info
_mailinglist
.tox
.cache/
.idea/
.eslintrc

# Coverage reports
htmlcov
.coverage
.coverage.*
*,cover

__pycache__
venv/
.vscode/
